<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xem phong ban</title>
</head>
<body>
<h1>xem phong ban: <span th:text="${phongban.get().tenphongban}"></span></h1>
<a href="/phongbans">kho phong ban</a>
<table border="1">
    <tr>
        <th>ma nhan vien</th>
        <th>hoten</th>
        <th>ngaysinh</th>
        <th>capdo</th>

    </tr>
    <th:block th:each="nhanvien : ${nhanviens}">
        <tr>
            <td th:text="${nhanvien.getManhanvien()}"></td>
            <td th:text="${nhanvien.getHoten()}"></td>
            <td th:text="${nhanvien.getNgaysinh()}"></td>
            <td th:text="${nhanvien.getCapdo()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>